body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Card.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: calc(25% - 16px); /* Adjust width to fit 4 cards in a row */
  box-sizing: border-box;
  display: inline-block; /* Ensure the cards appear inline */
  color: blue;
  background-color: greenyellow;
  text-align: center
  
;
}

header{
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color:  green;
}

.card  img{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  padding: 30px;
  height: 100px;
  width: 100px;
}
.card:hover {
  box-shadow: 0 0 20px #00f, 0 0 40px #00f, 0 0 60px #00f; /* Glowing effect */
}